@import 'partials/stats_card';

.month {
  color: $red-color;
  font-size: $font-regular;
  font-weight: $regular;
  text-transform: uppercase;
}

.day {
  font-size: $font-xlarge;
  font-weight: $bold;
}
