@import 'partials/content_card';

.loading {
  color: $green-color;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.no-skills {
  font-size: $font-xlarge;
  font-weight: $light;
  margin-bottom: $margin-medium;
  text-align: center;
  width: 100%;
}

.new-skill-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $margin-small;

  button {
    background: none;
    border: 2px dashed $grey-color;
    color: $blue-color;
    cursor: pointer;
    font-size: $font-xlarge;
    font-weight: $light;
    height: 64px;
    outline: none;
    padding: 0;
    transition: background 0.2s;
    width: 64px;

    &:hover {
      background: $light-grey-1-color;
    }
  }
}

.content-card {
  position: relative;

  .btn-menu {
    color: $grey-color;
  }

  .card-menu {
    background: $white-color;
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: $padding-small;
    position: absolute;
    right: 24px;
    top: 8px;
    transition: opacity 0.2s, visibility 0.2s;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
    @include shadow(2);
  }

  .skill-name {
    border-bottom: 2px solid $green-color;
    margin-bottom: $margin-small;

    input {
      font-size: $font-regular;
      height: 28px;
      margin: $margin-small 0;
      padding: $padding-xsmall $padding-small;
      width: 90%;

      &:disabled {
        background: none;
        cursor: default;
      }
    }
  }

  .skill-level {
    text-align: center;

    .ball {
      background: $green-color;
      border-radius: 24px;
      color: $white-color;
      display: inline-block;
      font-size: $font-regular;
      height: 48px;
      line-height: 48px;
      margin-bottom: $margin-small;
      text-align: center;
      width: 48px;
    }
  }

  .skill-description {
    textarea {
      border: none;
      outline: none;
      padding: 0;
      resize: none;
      width: 100%;
    }
  }
}
