@import 'partials/content_card';

form {
  margin-bottom: $margin-2xlarge;
}

label {
  font-weight: $light;
}

.loading {
  color: $yellow-color;
  display: block;
  margin-bottom: $margin-large;
  text-align: center;
}

.no-abouts {
  font-size: $font-xlarge;
  font-weight: $light;
  margin-bottom: $margin-medium;
  text-align: center;
  width: 100%;
}

.new-about-box {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $margin-small;

  button {
    background: none;
    border: 2px dashed $grey-color;
    color: $blue-color;
    cursor: pointer;
    font-size: $font-xlarge;
    font-weight: $light;
    height: 64px;
    outline: none;
    padding: 0;
    transition: background 0.2s;
    width: 64px;

    &:hover {
      background: $light-grey-1-color;
    }
  }
}

.content-card {
  position: relative;

  .btn-menu {
    color: $grey-color;
  }

  .card-menu {
    background: $white-color;
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: $padding-small;
    position: absolute;
    right: 24px;
    top: 8px;
    transition: opacity 0.2s, visibility 0.2s;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
    @include shadow(2);
  }

  .about-title {
    font-size: 0;
    margin-bottom: $margin-small;

    .about-icon {
      display: inline-block;
      transition: opacity 0.2s;
      width: 20%;

      input {
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        width: 0;

        & + label {
          transition: opacity 0.2s;

          img {
            height: 100%;
            width: 100%;
          }
        }

        &:not(:disabled) {
          & + label {
            cursor: pointer;
          }

          &:hover + label {
            opacity: 0.8;
          }
        }
      }
    }

    .about-name {
      border-bottom: 2px solid $yellow-color;
      display: inline-block;
      width: 70%;

      input {
        font-size: $font-regular;
        height: 28px;
        margin: $margin-small 0;
        padding: $padding-xsmall $padding-small;
        width: 90%;

        &:disabled {
          background: none;
          cursor: default;
        }
      }
    }
  }

  .about-description {
    textarea {
      border: none;
      outline: none;
      padding: 0;
      resize: none;
      width: 100%;
    }
  }
}
