.alton {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .speech-bubble {
    left: 50%;
    position: absolute;
    text-align: center;
    top: -64px;
    transform: translate(-50%);

    @include respond-to('small') {
      top: -96px;
    }
  }

  .profile-button {
    @include shadow-hoverable(1);
    border-radius: 128px;
    height: 256px;
    width: 256px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .links {
    margin-top: $margin-small;
    text-align: center;

    a {
      @include shadow-hoverable(0);
    }

    a:not(:first-child) {
      margin-left: $margin-medium;
    }
  }
}

.stop-talking {
  bottom: $margin-small;
  position: absolute;
  left: $margin-small;
}

.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  padding: $padding-small;
  text-align: center;

  button {
    margin: 0 auto;
  }

  .button-title {
    display: block;
    font-weight: $light;
    font-size: $font-regular;
    opacity: 0;
    transition: opacity 0.2s;
  }

  @include respond-to ('small') {
    flex-direction: row;

    .button-title,
    button {
      display: inline-block;
    }
  }
}
