.view-skill-container {
  background: $light-grey-1-color;
  border-radius: 2px;
  color: $dark-text-secondary-color;
  height: 240px;
  margin-bottom: $margin-medium;
  padding: $padding-small;

  &.grow-if {
    &.ng-enter {
      height: 0;
      opacity: 0;
      transition: all 0.5s;

      &.ng-enter-active {
        height: 240px;
        opacity: 1;

        @include respond-to ('small') {
          height: 280px;
        }
      }
    }

    &.ng-leave {
      height: 240px;
      opacity: 1;
      transition: all 0.2s;

      &.ng-leave-active {
        height: 0;
        opacity: 0;
      }

      @include respond-to ('small') {
        height: 280px;
      }
    }
  }

  .description {
    height: 66.67%;
    overflow: scroll;
  }

  @include respond-to ('small') {
    height: 280px;
  }
}

.skill {
  background: $light-grey-1-color;
  border-radius: 2px;
  color: $dark-text-secondary-color;
  height: 48px;
  margin: $margin-small;
  position: relative;
  overflow: hidden;

  .skill-content {
    // border: 1px dashed blue;
    left: $margin-medium;
    position: absolute;
    right: $margin-medium;
    top: 50%;
    transform: translate(0, -50%);

    .name {
      display: inline-block;
      vertical-align: middle;
      width: 96px;
    }

    .view-more {
      border: 1px solid $grey-color;
      display: inline-block;
      font-size: $font-xsmall;
      height: 16px;
      margin-right: $margin-small;
      padding: 0;
      vertical-align: middle;
      width: 40px;
    }

    .level {
      position: absolute;
      right: $margin-small;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .level-bar {
    background: $blue-color;
    height: 100%;
    transition: width 1s cubic-bezier(0.175, 0.885, 0.320, 1.275);
    width: 0;
  }
}
