.about {
  align-items: center;
  display: flex;
  height: 70%;
  max-width: 800px;

  .content-card {
    height: 95%;
    width: 100%;
  }
}

.about-selector {
  display: flex;
  height: 10%;
  justify-content: center;

  .item {
    height: 100%;
    width: 20%;

    button {
      display: block;
      height: 100%;
      margin: 0 auto;
      opacity: 0.5;
      transition: opacity 0.2s;

      &.active {
        opacity: 1;
      }

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
