.about-selector {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;

  .item {
    height: 100%;

    .btn {
      height: 100%;

      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.about {
  margin: 0 auto;
  max-width: 800px;
  padding: $padding-small;

  .content-card {
    max-height: 448px;
    overflow: scroll;
    width: 100%;

    .title {
      border-bottom: 1px solid $grey-color;
      font-size: $font-large;
      font-weight: $light;
      margin-bottom: $margin-small;
    }
  }
}
