@import 'modules/breakpoints';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/sizes';
@import 'modules/shadows';

@import 'partials/animate_if';

.admin-view {
  .login {
    height: 100vh;

    form {
      margin-left: $margin-small;
      margin-right: $margin-small;
      width: 100%;

      @include respond-to ('medium') {
        width: $medium;
      }

      .error {
        color: $error-color;
        display: inline-block;
        width: 100%;
        text-align: center;
      }
    }
  }

  .logout {
    @include shadow-hoverable(0);

    @include respond-to ('small') {
      position: absolute;
      right: $margin-small;
      top: $margin-small;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: $margin-xlarge;
    padding: 0;

    li {
      @include shadow-hoverable(1);

      &:not(:last-child) {
        margin-right: $margin-medium;
      }
    }
  }

  .dashboard-view {
    @import 'admin.dashboard';
    padding-left: $margin-small;
    padding-right: $margin-small;
  }

  .skill-view {
    @import 'admin.skill';
    padding-left: $margin-small;
    padding-right: $margin-small;
  }
}
