@import 'modules/breakpoints';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/sizes';
@import 'modules/shadows';
@import 'partials/animate_if';
@import 'partials/content_card';
@import 'partials/button';

body {
  background: $background-color;
  color: $dark-text-primary-color;
  font-family: $font;
}

.maintenance {
  height: 100vh;
  font-size: $font-xlarge;
  text-align: center;
}

.loading {
  color: $dark-grey-1-color;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.back-btn {
  left: $margin-small;
  position: absolute;
  top: $margin-small;
  @include shadow-hoverable(0);
}

.home-view {
  @import 'main.home';
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.about-view {
  @import 'main.about';
  height: 100vh;
  overflow: hidden;
  position: relative;
}
