@import 'modules/breakpoints';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/sizes';
@import 'modules/shadows';

@import 'partials/animate_if';
@import 'partials/button';

body {
  background: $background-color;
  color: $dark-text-primary-color;
  font-family: $font;
}

.maintenance {
  height: 100vh;
  font-size: $font-xlarge;
  text-align: center;
}

.home-view {
  @import 'main.home';
  height: 100vh;
}
