@import 'modules/breakpoints';
@import 'modules/colors';
@import 'modules/fonts';
@import 'modules/sizes';
@import 'modules/shadows';
@import 'partials/animate_if';
@import 'partials/content_card';
@import 'partials/button';
@import 'partials/speech_bubble';

body {
  background: $background-color;
  color: $dark-text-primary-color;
  font-family: $font;
}

.maintenance {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  img {
    display: block;
    height: 90%;
    margin: $margin-large auto;
    max-height: 372px;
    max-width: 422px;
    object-fit: contain;
    width: 90%;
  }

  .title {
    display: block;
    font-size: $font-large;
    text-align: center;
  }

  .details {
    display: block;
    font-weight: $light;
    text-align: center;
  }
}

.loading {
  align-items: center;
  color: $dark-grey-1-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.back-btn {
  padding: $padding-small;

  button {
    @include shadow-hoverable(0);
  }
}

.home-view {
  @import 'main.home';
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.about-view {
  height: 100vh;
  overflow: hidden;

  .about-container {
    @import 'main.about';
    position: relative;
  }
}

.project-view {
  background: $blue-color;
  min-height: 100vh;

  .back-btn {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 100;
  }

  .loading {
    background: $blue-color;
    color: $white-color;
  }

  .project-container {
    @import 'main.project';
    position: relative;
    z-index: 0;
  }
}

.skill-view {
  background: $green-color;
  min-height: 100vh;

  .loading {
    background: $green-color;
    color: $white-color;
  }

  .skill-container {
    @import 'main.skill';
    padding-bottom: $padding-large;
    position: relative;
  }
}
