<div class="about-view">
  <span class="loading animate-if" ng-if="!websiteLoaded"><i class="fa fa-refresh fa-spin fa-4x fa-fw"></i></span>
  <button class="btn btn-theme circular large back-btn" ng-click="moveToHomePage()"><i class="fa fa-arrow-left fa-2x"></i></button>

  <div class="about-container animate-if" ng-if="abouts && abouts.length">
    <div class="container about">
      <div class="content-card" ng-bind-html="viewing.about.description"></div>
    </div>

    <div class="container about-selector">
      <div class="item" ng-repeat="about in abouts">
        <button class="btn btn-clear" ng-class="{ active: viewing.index === $index }" ng-click="viewAbout($index, about)"><img ng-src="{{ about.icon }}" alt="about.name"></button>
      </div>
    </div>
  </div>
</div>
