<div class="skill-view">

  <span class="loading animate=if" ng-if="!skills"><i class="fa fa-refresh fa-spin fa-4x fa-fw"></i></span>

  <div class="container-fluid">
    <div class="row animate-if" ng-if="skills && skills.length">

      <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="skill in skills | limitTo: 1">
        <div class="content-card">
          <div class="skill-name">
            {{ skill.name }}
          </div>
          <div class="skill-level">
            <skill-slider value="skill.level" max="1" step="0.1"></skill-slider>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
