<div class="dashboard-view">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Today
          <div class="d-flex flex-column align-items-center justify-content-center stats-body">
            <div class="month">
              {{ calendar.month }}
            </div>
            <div class="day">
              {{ calendar.day }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Projects
          <div class="stats-body">
            <!-- TODO -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Skills
          <div class="stats-body">
            <!-- TODO -->
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Views
          <div class="stats-body">
            <!-- TODO -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
