<div class="admin-skill-view">

  <span class="loading animate-if" ng-if="!skills"><i class="fa fa-refresh fa-spin fa-4x fa-fw"></i></span>

  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 new-skill-box" ng-if="!skills || !skills.length || skills[0].id">
        <button class="btn btn-theme" ng-click="newSkillClicked()">+</button>
      </div>

      <div class="col-sm-6 animate-if" ng-if="skills && skills.length" ng-repeat="skill in skills">
        <div class="content-card">
          <button class="btn btn-clear float-right btn-menu" ng-click="skill.edit ? saveSkill(skill) : toggleMenu($event)"><i class="fa ng-class: { 'fa-floppy-o': skill.edit, 'fa-ellipsis-v': !skill.edit }"></i></button>
          <div class="card-menu">
            <button class="btn btn-theme circular white small mr-1" ng-click="toggleEdit(skill)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-theme circular red small ml-1" ng-click="deleteSkill(skill)"><i class="fa fa-trash"></i></button>
          </div>

          <div class="skill-name">
            <input class="form-control form-theme" placeholder="Skill Name" ng-disabled="!skill.edit" ng-model="skill.name">
          </div>
          <div class="skill-level">
            <div class="ball" ng-if="!skill.edit">{{ skill.level }}</div>
            <skill-slider value="skill.level" max="1" step="0.1" ng-if="skill.edit"></skill-slider>
          </div>
          <div class="skill-description">
            <textarea ng-model="skill.description" placeholder="Skill description" ng-if="skill.edit" autogrow></textarea>
            <div ng-if="!skill.edit" ng-bind-html="skill.marked"></div>
          </div>
          <div class="skill-views" ng-if="skill && !skill.edit">
            <i class="fa fa-eye"></i> {{ skill.views }}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="no-skills animate-if" ng-if="skills && !skills.length">Click + to add skill</div>

</div>
