<div class="admin-dashboard-view">

  <!-- My Content -->
  <div class="container my-content">
    <div class="row">
      <span class="name">Hi {{ user.firstName }}!
    </span>
    </div>
  </div>
  <!-- End My Content -->

  <!-- Main Dashbaord -->
  <div class="container-fluid main-dashboard">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <span class="card-title">Today</span>
        <div class="content-card">

          <div class="calendar">
            <div class="month">
              {{ calendar.month }}
            </div>
            <div class="day">
              {{ calendar.day }}
            </div>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <span class="card-title">Most Viewed Projects</span>
        <div class="content-card">

          <div class="center animate-if" ng-if="!projects">
            <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
          </div>
          <div class="center animate-if no-items" ng-if="projects && !projects.length">
            No Projects
          </div>
          <ul class="top-list animate-if" ng-if="projects && projects.length">
            <li ng-repeat="project in projects | limitTo: 3 | orderBy:'-views'">
              <span class="num-bullet blue">{{ $index + 1 }}</span>{{ project.name }}
            </li>
          </ul>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <span class="card-title">Most Viewed Skills</span>
        <div class="content-card">

          <div class="center animate-if" ng-if="!skills">
            <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
          </div>
          <div class="center no-items animate-if" ng-if="skills && !skills.length">
            No Skills
          </div>
          <ul class="top-list animate-if" ng-if="skills && skills.length">
            <li ng-repeat="skill in skills | limitTo: 3 | orderBy:'-views'">
              <span class="num-bullet green">{{ $index + 1 }}</span>{{ skill.name }}
            </li>
          </ul>

        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <span class="card-title">  Website Views</span>
        <div class="content-card">

          <div class="center website-views">
            {{ stats.views }}
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- End Main Dashboard -->

  <div class="container-fluid settings">
    <div class="content-card">

      <div class="row">
        <div class="col-9 setting-name">Maintenance Mode</div>
        <div class="col-3 setting-switch">
          <label class="switch red-off green-on"><input type="checkbox" ng-model="stats.maintenance" ng-change="updateMaintenance()"><div class="knob"></div></label>
        </div>
      </div>

    </div>
  </div>

</div>
