<div class="dashboard-view">

  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Today
          <div class="card">
            <div class="stats-body">

              <div class="calendar">
                <div class="month">
                  {{ calendar.month }}
                </div>
                <div class="day">
                  {{ calendar.day }}
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Most Viewed Projects
          <div class="card">
            <div class="stats-body">

              <div class="center" ng-if="!projects">
                <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
              </div>
              <div class="center no-items" ng-if="projects && !projects.length">
                No Projects
              </div>
              <ul class="top-list">
                <li ng-repeat="project in projects | limitTo: 3 | orderBy:'-views'">
                  <span class="num-bullet yellow">{{ $index + 1 }}</span>{{ project.name }}
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Most Viewed Skills
          <div class="card">
            <div class="stats-body">

              <div class="center" ng-if="!skills">
                <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>
              </div>
              <div class="center no-items" ng-if="skills && !skills.length">
                No Skills
              </div>
              <ul class="top-list">
                <li ng-repeat="skill in skills | limitTo: 3 | orderBy:'-views'">
                  <span class="num-bullet green">{{ $index + 1 }}</span>{{ skill.name }}
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="stats-card">
          Website Views
          <div class="card">
            <div class="stats-body">

              <div class="center website-views">
                {{ stats.views }}
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
