<div class="admin-view">

  <div class="login" ng-if="!isLoggedIn">
    <form ng-submit="login()">
      <span class="error">{{ loginForm.error }}</span>
      <div class="form-group">
        <input class="form-control form-theme" type="text" placeholder="Username" ng-model="loginForm.name">
      </div>
      <div class="form-group">
        <input class="form-control form-theme" type="password" placeholder="Password" ng-model="loginForm.password">
      </div>
      <div class="form-group">
        <input class="btn btn-theme default full-width" type="submit" value="Login">
      </div>
    </form>
  </div>

  <div ng-if="isLoggedIn">
    <ul class="menu">
      <li class="btn btn-theme default circular large"><i class="fa fa-tachometer fa-2x"></i></li>
      <li class="btn btn-theme default circular large"><i class="fa fa-book fa-2x"></i></li>
      <li class="btn btn-theme default circular large"><i class="fa fa-wrench fa-2x"></i></li>
      <li class="btn btn-theme default circular large"><i class="fa fa-user fa-2x"></i></li>
    </ul>
    <div ui-view></div>
  </div>

</div>
