<div class="d-flex align-items-center justify-content-center maintenance" ng-if="maintenance">Under Construction</div>

<div class="home-view animate-if" ng-if="maintenance !== null && !maintenance">
  <button class="btn btn-clear profile-button" ng-click="moveToAboutPage($event)"><img src="assets/profile.png" alt="Alton Lau"></button>

  <div class="buttons">
    <div>
      <button class="btn btn-theme green circular large" ng-click="moveToSkillPage($event)" ng-mouseenter="buttonHovered($event, true)" ng-mouseleave="buttonHovered($event, false)"><i class="fa fa-wrench fa-2x"></i></button>
      <span class="button-title">Skills</span>
    </div>
    <div>
      <span class="button-title">Projects</span>
      <button class="btn btn-theme blue circular large" ng-click="moveToProjectPage($event)" ng-mouseenter="buttonHovered($event, true)" ng-mouseleave="buttonHovered($event, false)"><i class="fa fa-book fa-2x"></i></button>
    </div>
  </div>
</div>
