<div class="project-view">
  <div class="back-btn animate-if" ng-if="projects && projects.length">
    <button class="btn btn-theme circular large" ng-click="moveToHomePage()"><i class="fa fa-arrow-left fa-2x"></i></button>
  </div>
  <span class="loading animate-if" ng-if="!websiteLoaded"><i class="fa fa-refresh fa-spin fa-4x fa-fw"></i></span>

  <div class="project-container animate-if" ng-if="projects && projects.length">
    <div class="container selector">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-3 project-item" ng-repeat="project in projects | startFrom:currentPage*pageSize | limitTo:pageSize">
          <button class="btn btn-theme white" ng-click="viewProject(project)">
            <img ng-src="{{ project.images[0] }}" alt="{{ project.name }}" ng-if="project.images.length">
            <div ng-if="!project.images.length">{{ project.name }}</div>
          </button>
        </div>
      </div>

      <div class="controls animate-if" ng-if="numberOfPages > 1">
        <button class="btn btn-theme green circular" ng-disabled="currentPage === 0" ng-click="changePage(false)"><i class="fa fa-arrow-left"></i></button>
        <button class="btn btn-theme green circular" ng-disabled="currentPage === numberOfPages - 1" ng-click="changePage(true)"><i class="fa fa-arrow-right"></i></button>
      </div>
    </div>

    <div id="{{ project.id }}" class="project" ng-repeat="project in projects">
      <div class="container-fluid">
        <div class="row name">
          {{ project.name }}
        </div>
        <div class="row skill" ng-if="project.skills && project.skills.length">
          <div class="skill-item" ng-repeat="skill in skills" ng-if="project.skills.indexOf(skill.id) >= 0">
            {{ skill.name }}
          </div>
        </div>
        <div class="row description">
          <div class="col-12 col-md-6 push-md-6 carousel-container" ng-if="project.images && project.images.length">
            <div id="carousel-{{ project.id }}" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators" ng-if="project.images && project.images.length > 1">
                <li ng-class="{ active: !$index }" data-target="#carousel-{{ project.id }}" data-slide-to="$index" ng-repeat="image in project.images"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item" ng-class="{ active: !$index }" ng-repeat="image in project.images">
                  <img class="d-block img-fluid" ng-src="{{ image }}" alt="{{ project.name }}-{{ $index }}">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-{{ project.id }}" role="button" data-slide="prev" ng-click="$event.preventDefault()" ng-if="project.images && project.images.length > 1">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-{{ project.id }}" role="button" data-slide="next" ng-click="$event.preventDefault()" ng-if="project.images && project.images.length > 1">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-12 text-container" ng-class="{ 'col-md-6 pull-md-6': project.images && project.images.length }">
            <div ng-bind-html="project.description"></div>
          </div>
        </div>
      </div>
      <button class="btn btn-theme circular small top-btn" ng-click="scrollToTop()"><i class="fa fa-arrow-up"></i></button>
    </div>
  </div>
</div>
