@import 'modules/colors';
@import 'modules/fonts';

.btn {
  border-radius: 2px;
  cursor: pointer;
  font-family: $font;

  &:focus {
    box-shadow: none;
  }

  &.circular {
    align-items: center;
    border-radius: 24px;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: 0;
    width: 48px;

    &.small {
      border-radius: 16px;
      height: 32px;
      padding-top: 1px;
      width: 32px;
    }

    &.large {
      border-radius: 32px;
      height: 64px;
      width: 64px;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.btn-clear {
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
  }

  &.btn-theme {
    &.white {
      background: $white-color;
      border: 1px solid $grey-color;
      color: $dark-text-primary-color;
    }
    &.red {
      background: $red-color;
      color: $light-text-primary-color;
    }
    &.yellow {
      background: $yellow-color;
      color: $light-text-primary-color;
    }
    &.green {
      background: $green-color;
      color: $light-text-primary-color;
    }
    &.blue {
      background: $blue-color;
      color: $light-text-primary-color;
    }
    &.purple {
      background: $purple-color;
      color: $light-text-primary-color;
    }
  }
}
