.stats-card {
  font-weight: $light;
  margin-bottom: $margin-small;

  &.red {
    background: $red-color;
  }

  &.yellow {
    background: $yellow-color;
  }

  &.green {
    background: $green-color;
  }

  &.blue {
    background: $blue-color;
  }

  &.purple {
    background: $purple-color;
  }

  .card {
    background: $white;
    border-radius: 2px;
    min-height: 144px;
    position: relative;
    @include shadow(1);

    .stats-body {
      font-size: $font-small;
      font-weight: $regular;
      height: 100%;
      padding: $padding-xsmall $padding-small;
      position: absolute;
      width: 100%;

      .center {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
      }
    }
  }

  @include respond-to ('small') {}
}
