// Font weights
$light: 300;
$regular: 400;
$bold: 500;

// Font
$font: 'Roboto', sans-serif;

// Font size
$font-xsmall: 12px;
$font-small: 16px;
$font-regular: 24px;
$font-large: 40px;
$font-xlarge: 48px;
